{{#each posts as |post|}}
<div alt="flex container for post elements. column stack" class="stack-flex post-polaroid">
        <div alt="trial" class="trial">
            <div alt="flex container for post with lined background. column stack" class="stack-flex post-content spaced">
                <div alt="flex container for profile pic, username, and post title. side by side row."
                    class="side-flex post-header spaced gap">
                    <div alt="profile pic (pulled from?)">Image here</div>
                    <div alt="username pulled from sql"value="{{post.user_id}}" id="username"> {{post.user.username}}</div>
                    <div alt="post title pulled from sql. display on own line" class="post-title">{{post.title}}</div>
                </div>
                <div alt="post body">{{post.content}}</div>
                    <div alt="music embed">spotify here</div>
            </div>
        </div>
        <div alt="flex container for emojis associated with this post" class="post-footer side-flex spaced gap ">
            <img src="https://res.cloudinary.com/dnwrm14k9/image/upload/v1672862460/happy_yjgksa.svg" width="50" id="emoji5"/>
            <img src="/assets/emojis/neutral.svg" width="50px" id="emoji5"/>
            <img src="/assets/emojis/anxious.svg" width="50px" id="emoji5"/>
            <img src="/assets/emojis/angry.svg" width="50px" id="emoji5"/>
            <img src="/assets/emojis/sad.svg" width="50px" id="emoji5"/>
            <div alt="{{post.id}}" id="save-post-btn" onclick="savePostHandler(event)">save post</div>
        </div>
    </div>
  </div>
{{/each}}
    

{{!-- <script src="/js/savePostHandler"></script>  --}}
{{!-- no need?? --}}
