
<div class="container-fluid">
        <div class="row">
        <div class="">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Your Feed</h5>
                </div>
            </div>
        </div>
    </div>
<div class="container posts-container">
    <div class="posts-items">
    {{#each posts as |post|}}
    <div class="stack-flex post-polaroid">
        <div class="trial">
            <div class="stack-flex post-content spaced">
                <div
                    class="side-flex post-header spaced gap">
                    {{!-- <div alt="profile pic (pulled from?)">Image here</div> --}}
                    <div><h3 class="mt=0">{{post.user.username}}</h3></div>
                    <div class="post-title">{{post.title}}</div>
                </div>
                <p class="post-content">{{post.content}}</p>
                <div alt="music embed"><small>spotify here</small></div>
            </div>
        </div>
        <div class="emojimark">
            <div class="post-footer side-flex spaced gap ">
                <img src="https://res.cloudinary.com/dnwrm14k9/image/upload/v1672862460/happy_yjgksa.svg" width="50" id="emoji5"/>
                <img src="/assets/emojis/neutral.svg" width="50px" id="emoji5"/>
                <img src="/assets/emojis/anxious.svg" width="50px" id="emoji5"/>
                <img src="/assets/emojis/angry.svg" width="50px" id="emoji5"/>
                <img src="/assets/emojis/sad.svg" width="50px" id="emoji5"/>
            </div>
            <button alt="{{post.id}}" class="btn save-btn" id="save-post-btn" onclick="savePostHandler(event)"><img src="assets/images/save-icon.png" width="30px" class="save-icon"></button>
        </div>
  </div>
  <hr>
  {{else}}
  <p>No posts found...</p>
{{/each}}
</div>
</div>

<script src="/js/savePost.js"></script>