<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{username}}'s Profile Page</h5>
            </div>
        </div>
    <div class="container">
        <h1>My Posts</h1>
        {{#each posts}}
        <div class="profile">
            <div class="profile-body">
                <h3 class="mt-0">{{username}}</h5>
                <h4>{{title}}</h4>
                <p>{{content}}</p>
                <small>{{date_created}}</small>
                <br>
            </div>
        </div>
        <hr>
        {{else}}
        <p>You do not have any posts ...</p>
        {{/each}}
    </div>
</div>