<div class="container-fluid">
  <div class="row">
    <div class="">
        {{!-- <button class="btn">
            <a href="/profile">🔙 Back to Profile</a>
            <a href="/feed">🔙 Back to Feed</a>
          </button> --}}
        <div class="card" style="width: 18rem;">
          <div class="card-body search">
            <h5 class="card-title">SEARCH RESULTS</h5>
          </div>
        </div>
    </div>
    <div class="back-button-container">
      <button class="btn btn-dark" onclick="location.href='/profile'">
        <a href="/profile" class="back-button"><span>back to profile</span></a>
      </button>
    </div>
  </div>
  <div class="container posts-container">
    <div class="posts-items">
      {{#each postEmojis as |postEmoji|}}
        <div alt="flex container for post elements. column stack" class="stack-flex post-polaroid">
          <div alt="trial" class="trial">
            <div class="stack-flex post-content spaced">
              <div alt="flex container for profile pic, username, and post title. side by side row."
                class="side-flex post-header  gap">
                <div class="pfp"><img src="/assets/images/profile-placeholder.png" alt="" width="50px"></div>
                <div alt="username pulled from sql" class="post-user mt-0"> {{post.user.username}}</div>
                <div class="date-created"><i><small>{{format_date post.date_created}}</small></i></div>
                <div alt="post title pulled from sql. display on own line" class="post-title">
                  <i>{{post.title}}</i>
                </div>
              </div>
              <p class="post-content">{{post.content}}</p>
              <div id="spotifyContainer" class="spotify-container">{{{post.spotify_embed_code}}}</div>
            </div>
          </div>
          <div alt="flex container for emojis associated with this post" class="post-footer spaced gap ">
            {{#each postEmoji.post.emojis as |emoji|}}
              <img src="{{emoji.url}}" width="70px">
            {{/each}}
            <div class="edit-delete">
              <button alt="{{post.id}}" class="btn save-btn" id="save-post-btn" onclick="savePostHandler(event)"><img id="{{post.id}},{{post.user_id}}" src="../../assets/images/save-icon.png" class="save-icon"></button>
              <button alt="/profile/edit/{{post.id}}" class="btn edit-btn" id="edit-post-btn" onclick="location.href='/profile/edit/{{post.id}}'"><img src="/assets/images/edit-icon.png" class="edit-icon"></button>
            </div>
          </div>
        </div>
        <hr>
      {{/each}}
    </div>
  </div>
</div>
